body {
    text-align: center;
}

#gameboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40vh;
    height: 40vh;
    margin: 5% auto;
    
}

#gameboard * {
    width: 33%;
    height: 33%;
    font-size: 5em;
}